.btn {
    display: block;
    width: 100%;
    max-width: 100%;
    margin: 1em auto;
    overflow: hidden;
    position: relative;
    transform: translatez(0);
    text-decoration: none;
    box-sizing: border-box;
    font-size: 1.3rem;
    font-weight: normal;
    box-shadow: 0 9px 18px rgba(0, 0, 0, 0.2);
    border: none;
    &:hover {
        cursor: pointer;
        opacity: 0.8;
    }
}

.instagram {
    text-align: center;
    border-radius: 50px;
    padding: 1.2em;
    color: $white;
    background: $pink;
    transition: all 0.2s ease-out 0s;
}

.gradient {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    bottom: auto;
    margin: auto;
    z-index: -1;
    background: radial-gradient( 90px circle at top center, rgba(238, 88, 63, 0.8) 30%, rgba(255, 255, 255, 0));
    transition: all 0s ease-out 0s;
    transform: translatex(-140px);
    animation: 18s linear 0s infinite move;
}

.loading {
    color: #bd3381;
}

@keyframes move {
    0% {
        transform: translatex(-140px);
    }
    25% {
        transform: translatex(140px);
        opacity: 0.3;
    }
    50% {
        transform: translatex(140px);
        opacity: 1;
        background: radial-gradient( 90px circle at bottom center, rgba(238, 88, 63, 0.5) 30%, rgba(255, 255, 255, 0));
    }
    75% {
        transform: translatex(-140px);
        opacity: 0.3;
    }
    100% {
        opacity: 1;
        transform: translatex(-140px);
        background: radial-gradient( 90px circle at top center, rgba(238, 88, 63, 0.5) 30%, rgba(255, 255, 255, 0));
    }
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

.spinner:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 45%;
    left: 50%;
    width: 30px;
    height: 30px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border-top: 2px solid white;
    border-right: 2px solid transparent;
    animation: spinner 0.6s linear infinite;
}

.disabled {
    background-color: gray;
    cursor: not-allowed !important;
}

.small {
    width: 60%;
}