.form {
    min-height: 100vh;
    padding-top: 1em;
    &__container {
        width: 100%;
        margin: 0 auto;
        h1 {
            margin: 0;
        }
        .form__group {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            margin: 3em auto;
            padding: 0 30%;
            // width: 50%;
            &__input {
                display: flex;
                flex-direction: column;
                margin: 0.8em 0;
                width: 100%;
                label {
                    font-size: 1.2rem;
                    color: $font-color;
                    text-align: left;
                    padding-bottom: 0.2em;
                }
                input {
                    padding: 0.5em;
                    font-size: 1.1rem;
                    border-radius: 10px;
                    border: 0;
                    background: $white;
                    &:focus {
                        outline: none;
                    }
                }
            }
        }
    }
}