.form {
    &__group {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin: 10vh 5vw;
        &__input {
            width: 30em;
            display: flex;
            flex-direction: column;
            margin: 0.8em 0;
            label {
                font-size: 1.2rem;
                color: $font-color;
                text-align: left;
                padding-bottom: 0.2em;
            }
            input {
                padding: 0.5em;
                font-size: 1.1rem;
                border-radius: 10px;
                &:focus {
                    outline: none;
                }
            }
        }
    }
}