.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: 1;
    opacity: 1;
    z-index: 4;
    .popup {
        margin: 4em auto;
        padding: 1em 3em;
        background: $white;
        border-radius: 5px;
        width: 50%;
        transition: all 5s ease-in-out;
        &__header {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }
        h2 {
            color: $font-color;
            margin: 0 auto;
        }
        .close {
            transition: all 200ms;
            font-size: 3rem;
            font-weight: bold;
            text-decoration: none;
            color: $font-color;
            &:hover {
                color: $black;
                cursor: pointer;
            }
        }
        &__body {
            margin: 4em 0;
        }
    }
}

@media screen and (max-width: 700px) {
    .popup {
        width: 90%;
    }
}