.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 3em;
    padding: 0 5vw;
    background-color: $black;
    z-index: 3;
    &__logo {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        img {
            cursor: pointer;
            width: 36px;
            height: 36px;
            margin-left: 1em;
        }
    }
    &__links {
        display: flex;
        align-items: center;
        justify-content: center;
        ul {
            display: flex;
            align-items: center;
            justify-content: center;
            .router-link {
                text-decoration: none;
                list-style: none;
                li {
                    display: block;
                    position: relative;
                    text-transform: lowercase;
                    list-style: none;
                    color: $white;
                    margin-left: 2em;
                    transition: all 0.2s ease-out 0s;
                    &:hover {
                        color: $pink;
                    }
                    img {
                        cursor: pointer;
                        width: 36px;
                        height: 36px;
                    }
                }
                ul {
                    width: 7em;
                    text-align: center;
                    visibility: hidden;
                    opacity: 0;
                    position: absolute;
                    transition: all 0.5s ease;
                    right: 2.3em;
                    margin-top: 0;
                    display: none;
                    background-color: $black;
                    padding: .7em .5em;
                    a {
                        li {
                            text-decoration: none;
                            clear: both;
                            color: $white;
                            margin: 0;
                            padding-bottom: .8em;
                        }
                    }
                    &:hover {
                        visibility: visible;
                        opacity: 1;
                        display: block;
                    }
                }
                &:hover>ul {
                    visibility: visible;
                    opacity: 1;
                    display: block;
                }
            }
        }
        &__dropdown-active {
            display: none;
        }
    }
}