.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 3em;
    padding: 0 5vw;
    background-color: $black;
    z-index: 3;
    &__logo {
        align-items: center;
        display: flex;
        justify-content: flex-start;
        img {
            cursor: pointer;
            width: 36px;
            height: 36px;
        }
    }
    &__links {
        align-items: center;
        display: flex;
        justify-content: center;
        ul {
            align-items: center;
            display: flex;
            justify-content: center;
            a {
                text-decoration: none;
                li {
                    text-transform: lowercase;
                    list-style: none;
                    color: $white;
                    margin-left: 1em;
                    transition: all 0.2s ease-out 0s;
                    &:hover {
                        color: $pink;
                    }
                }
            }
        }
    }
}