html {
    height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
}

.app {
    min-height: 100%;
    text-align: center;
    color: $font-color;
    .content {
        padding-bottom: 10em;
        padding-top: 4em;
        min-height: 100%;
    }
}